.table-container {
  font-family: Arial, Helvetica, sans-serif;
  margin: 32px auto 0;
  overflow-x: auto;
  background: white;
  border-radius: 8px;
  border: 1px solid #393a93;
  max-width: 1200px;
}

.results-table {
  margin-top: 2rem;
  margin-left: 24px;
  margin-right: 24px;
}

.results-table th,
.results-table td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.results-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.results-table .risk.высокий {
  color: red;
}

.results-table .risk.средний {
  color: orange;
}

.results-table .risk.низкий {
  color: green;
}

.results-table .risk.информационный {
  color: blue;
}
